<div class="p-grid">
  <div class="p-col-12">
    <p-card header='MyChat'>
      <p-menubar [model]="tieredMenuItems">
        <ng-template pTemplate="end">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search">
                    </span>
        </ng-template>
      </p-menubar>
    </p-card>
  </div>
</div>

<div class="p-grid">
    <div class="p-col-4">
    <div class="p-card">
      <p-table #dt
               [value]="customers"
               [(selection)]="selectedCustomers"
               dataKey="id"
               styleClass="p-datatable-customers"
               [rowHover]="true"
               [rows]="10"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[10,25,50]"
               [paginator]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [filterDelay]="0"
               [globalFilterFields]="['name','country.name','representative.name','status']">
        <ng-template pTemplate="caption">
          <div class="table-header">
            List of Customers
            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Global Search"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr class="p-selectable-row">
            <td>
              <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
              {{customer.name}}
            </td>
            <td style="text-align: center">
              <button pButton type="button" icon="pi pi-cog"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
    <div class="chatbox p-col-6">
          <div class="chat-messages">
       <div class="message-box-holder">
        <div class="message-box">
          Hello
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-sender">
           Mamun Khandaker
         </div>
        <div class="message-box message-partner">
          Hi.
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-box">
          How are you doing?
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-sender">
           Mamun Khandaker
         </div>
        <div class="message-box message-partner">
          I'm doing fine. How about you?
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-box">
          I am fine.
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-box">
          Do you know why I knocked you today?
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-box">
          There's something important I would like to share with you. Do you have some time?
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-sender">
           Mamun Khandaker
         </div>
        <div class="message-box message-partner">
          Yeah sure. Let's meet in the Einstein cafe this evening and discuss the matter.
        </div>
      </div>

      <div class="message-box-holder">
        <div class="message-sender">
           Mamun Khandaker
         </div>
        <div class="message-box message-partner">
          I thought of coming to your place and discuss about it but I had to finish my projects and I didn't have enough time to go out of the house.
        </div>
      </div>
    </div>


    </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
        <div class="p-inputgroup">
        <textarea pInputTextarea placeholder="Your Message" [autoResize]="false" rows="3" cols="30"></textarea>
            <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-warn"></button>
        </div>
  </div>
</div>



