<div class="p-grid">
  <div class="p-col-12">
    <p-card header='MyChat'>
      <p-menubar [model]="tieredMenuItems">
        <ng-template pTemplate="end">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search">
                    </span>
        </ng-template>
      </p-menubar>
    </p-card>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <div class="p-card">
      <p-table [value]="conversations"
               selectionMode="single"
               [(selection)]="selectedConversation"
               dataKey="name"
               (onRowSelect)="openConversation()"
               responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="table-header">
            Contacts
            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Global Search"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Contact</th>
            <th style="width: 8rem">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conversation>
          <tr
[pSelectableRow]="conversation">
            <td *ngIf="conversation.participant_1.id != users[0].id"
                [pTooltip]='conversation.participant_1.email'
                tooltipPosition="bottom">
              {{conversation.participant_1.first_name}} ({{conversation.participant_1.last_name}})
            </td>
            <td *ngIf="conversation.participant_2.id != users[0].id"
                [pTooltip]='conversation.participant_2.email'
                tooltipPosition="bottom">
              {{conversation.participant_2.first_name}} ({{conversation.participant_2.last_name}})
            </td>
            <td style="text-align: center">
              <button pButton type="button" icon="pi pi-cog"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Contacts.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="chatbox p-col-8">
    <div #chatbox id='chatbox' class="chat-messages">
      <div *ngIf="!messages.length" class="empty-conversation">
        Select a conversation from contacts.
      </div>
      <div *ngIf="totalMessages > messages.length && messages.length !==0" class="empty-conversation">
        <button (click)="loadMore()" type="button" pButton pRipple label="Load more"
                class="p-button-text p-mr-2 p-mb-2"></button>
      </div>
      <div *ngFor="let message of messages" class="message-box-holder">
        <div *ngIf="message.sender===1" class="message-box">
          <p-avatar shape="circle" icon="pi pi-user"></p-avatar>
          <b class="p-ml-2">{{message.message}}</b>
          <div class="p-mt-2">{{message.timestamp}}</div>
        </div>
        <div *ngIf="message.sender!==1" class="message-box message-partner">
          <p-avatar shape="circle" icon="pi pi-user"></p-avatar>
          <b class="p-ml-2">{{message.message}}</b>
          <div class="p-mt-2">{{message.timestamp}}</div>
        </div>
      </div>
      <p-divider style="width: 100%" align="center">
        <span class="p-tag">New</span>
      </p-divider>
    </div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <div class="p-inputgroup">
            <textarea
              (keyup.enter)="submitMessage()"
              [rows]="10"
              [cols]="100"
              placeholder="Your message..."
              pInputTextarea
              [formControl]='textArea' ngDefaultControl></textarea>
      <button [disabled]="!textArea.value" (click)="submitMessage()" type="button" pButton pRipple icon="pi pi-send"
              styleClass="p-button-warn"></button>
    </div>
  </div>
</div>



