<p-card header='Login'>
  <div class="p-grid">
    <div class=" p-align-right p-col-5 p-d-flex p-ai-center p-jc-center">
      <div class="p-fluid">
        <div class="p-field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Username">
        </div>
        <div class="p-field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
          <input type="password" pInputText placeholder="Password">
        </div>
        <p-button label="Login"></p-button>
      </div>
    </div>
    <div class="p-col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
    </div>
  </div>
</p-card>
